
.nav{
display: flex;
justify-content: space-between;
align-items: center;
background-color:#0e387a;
position:sticky;
top:0;
text-align:center;
height:80px;
}

.nav .logo{
color:#fff;
padding: 0px 5%;
}

.nav .links{
display: inline-flex;
color:white;
padding: 0px 5%;
}

.links a{
color:#fff;
 }

.links .link{
   margin-right: 30px;
   text-decoration: none;
   font-size: 21px;
   list-style-type:none;
}






.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
    background-color:red;
}

.card{
 background-color: red;
}

.card-body{
      width: 500px;
      height: 400px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px grey;
      background-size: cover;
      background-color: red;
  }