 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the best news website</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<div class="nav">
       <h2 className="logo">News-Brief</h2>

<ul className="links">
    <li className="link">Business</li>
   <li className="link" >Technology</li>
    <li className="link" to='/login'>Politics</li>
</ul>

</div>


<div class="cards">
    {% block content %}
     {% for new in news %}
  <div class="card-body" style="background-image: url({{new.urlToImage}})">
    <h5 class="card-title">{{new.title}}</h5>
    <p class="card-text">{{new.description}}</p>
    <a href={{new.url}} class="btn btn-primary">Read More</a>
  </div>
     {% endfor %}
     {% endblock %}

 </div>
</body>
</html>