 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the best news website</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<div class="nav">
    <h2 class="logo">News-Brief</h2>

<ul class="links">
    <li class="link"><a href="">Business</a></li>
   <li class="link"><a href="">Technology</a></li>
    <li class="link"><a href="">Politics</a></li>
</ul>

</div>

<div class="hero">
{%block content%}
<div class="row">
    <div class="list-group" >
    <li class="list-group-item list-group-item-action" id="news-source" data-bs-toggle="list" href="#list-home">News Sources</li>
        {% for source in sources %}
      <a class="list-group-item list-group-item-action"  data-bs-toggle="list" href="" role="tab" aria-controls="list-home">{{source.name}}</a>
        {%endfor%}

    </div>
</div>


<div class="cards">
     {% for new in news %}
    <img src={{new.urlToImage}} class="card-img-top" alt="...">
  <div class="card-body" >
    <h5 class="card-title">{{new.title}}</h5>
    <p class="card-text">{{new.description}}</p>
    <a href={{new.url}} target="_blank" class="btn btn-primary">Read More</a>
  </div>
     {% endfor %}

 </div>

 {%endblock%}
</div>
</body>
</html>