 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  {% if title %}
    <title>{{title}}</title>
  {% else %}
    <title>Welcome to the best news website</title>
  {% endif %}

     <style>
  #news {
    float: left;
      width: 400px;
      height: 250px;
      margin: 10px;
      border-radius: 7px;
      box-shadow: 0px 0px 5px grey;
      background-size: cover;
  }
</style>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

 <div>
    {% block content %}
        {% for new in news %}
        <div id="news" style="background-image: url({{new.urlToImage}})">
<p>{{new.title}}</p>
        </div>
        {% endfor %}
    {% endblock %}
    </div>

</body>
</html>